body{
    background-color: white; font-size: 10vh; color: royalblue; font-family: roboto;
}

.navbar{
	font-size: 4vh;
	z-index: 3;
}

hr{
    color: transparent;
	padding:10px;
}
.separador1{
    background-color:white;
    padding-top: 1vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.separador{
    display: flex;
    align-items: center;
    justify-content: center;
  }


.cuotas{
    background-color: #75BCB3;
    color: #FD1F81;
  
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cuotas2{
    background-color: #FDE952;
    color: #FC3A05;

    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cuotas3{
    background-color: #5272BB;
    color: #FD1F81;

    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer{
    background-color: black;
    color: white;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



h2{
    text-align: center;
}

h3{
    text-align:right;
}